/*stilos del registro e iniiciar secion inicio*/




/* Estilos para la tarjeta que contiene el formulario */
.text-center {
    text-align: center;
    color: #ffffff;
    font-size: 20px;
}

/* Estilos para el cuerpo de la tarjeta */
.card-body {
    background-color: #121212;
    border-radius: 50px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    padding: 100px; /* Reducido para evitar que se expanda demasiado */
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: #ffff;
    border: 10px;
}

/* Estilos para los labels */
.col-form-label {
    font-weight: bold;
    color: #fff;
} 

/* Estilos para los inputs */
.form-control {
    border-radius: 10px;
    border: 1px solid #696969;
    padding: 10px;
    transition: border-color 0.3s ease-in-out;
    background-color: #252525;
    margin-bottom: 1%; /* Ajustado para más separación */
} 

/* Efecto al enfocar un input */
.form-control:focus {
    background-color:#A2A2A2 ;
    border-color: #fff;
    box-shadow: 0 0 6px #A2A2A2;
} 

/* Estilos para los mensajes de error */
.invalid-feedback {
    font-size: 0.875rem;
    color: #dc3545;
}

/* Botón de registro */
.btn-primary1 {
    background: linear-gradient(to right, #696969, #212020);
    border: 1px solid #696969;
    font-size: 1rem;
    font-weight: bold;
    height: 40px;
    width: 428px;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    padding-left: 10px;
    color: #A2A2A2;
}

/* Centrar los botones con Flexbox */
.form-group.row.mb-0.justify-content-center {
    display: flex;
    justify-content: center;
} 

/* Efecto hover en el botón */
.btn-primary1:hover {
    background-color: #ffffff;
    color: black;
} 

.btn-custom {
    width: 130px;  
    height: 40px;  
    font-size: 12px; 
    padding: 0;
    background-color: #121212;
} 

/* Estilos para el logo */ 
.logito { 
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100px;
} 

/* Estilos para el logo de Google */

.bi-browser-chrome{
    margin-left: 15px;
}

/* Dentro de tu archivo CSS, como app.css */
#terms {
    width: 15px;
    height:15px;
    background-color: #121212;
    border: 2px solid black;
    /* accent-color: #6c757d; */
}


#logo {
    width: 100px;
}

/* Estilos para los botones superiores */
.btn-custom-1 {
    background-color: #000;
    color: white;
    padding: 10px 100px;
    font-size: 16px;
    border-radius: 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.btn-custom-2 {
    background-color: #A2A2A2;
    color: black;
    padding: 10px 100px;
    font-size: 16px;
    border-radius: 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/* Efecto hover para los botones */
.btn-custom-1:hover, .btn-custom-2:hover { 
    opacity: 0.8;
    cursor: pointer;
}

/* Estilo personalizado para el botón de Google */
.d-flex { 
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%;
}

/* Estilos para el botón de Google */
/* Estilo para el botón de Google */
.btn-google-login {
    background-color: #121212;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 430px;
    border-color: #000000;
    border-radius: 15px;
    color: #A2A2A2;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave */
}

/* Efecto hover */
.btn-google-login:hover {
    background-color: #A2A2A2; /* Cambia el fondo */
    color: black; /* Cambia el color del texto */
    cursor: pointer;
}
/* Capa de fondo borroso ovalada */
.blur-oval-background {
    background-color: #02ebcc; /* Color de fondo, puedes cambiarlo */
    filter: blur(85px); /* Controla el nivel de desenfoque */
    height: 100vh; /* Altura */
    width: 2%; /* Ancho más pequeño (30% de la pantalla) */
    border-radius: 50%; /* Hace la forma ovalada */
    position: absolute;
    top: 50%; /* Centra verticalmente */
    left: 10%; /* Alinea al lado izquierdo */
    transform: translateY(-30%); /* Centra verticalmente */
    z-index: 1; /* Asegura que quede detrás del contenido */
    opacity: 0.5; /* Ajusta la opacidad */
}
.blur-oval-background-right {
    background-color: #02ebcc; /* Color de fondo, puedes cambiarlo */
    filter: blur(85px); /* Controla el nivel de desenfoque */
    height: 100vh; /* Altura más alta (100% de la altura de la pantalla) */
    width: 2%; /* Ancho más pequeño (10% de la pantalla) */
    border-radius: 50%; /* Hace la forma ovalada */
    position: absolute;
    top: 50%; /* Centra verticalmente */
    right: 10%; /* Alinea al lado derecho */
    transform: translateY(-30%); /* Centra verticalmente */
    z-index: 1; /* Asegura que quede detrás del contenido */
    opacity: 0.5; /* Ajusta la opacidad */
}
.blur-oval-background-center {
    background-color: #ffffff; /* Color de fondo, puedes cambiarlo */
    filter: blur(50px); /* Controla el nivel de desenfoque */
    height: 5vh; /* Altura (10% de la altura de la pantalla) */
    width: 10%; /* Ancho (10% de la pantalla) */
    border-radius: 50%; /* Hace la forma ovalada */
    position: absolute;
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -250%); /* Centra ambos, horizontal y verticalmente */
    z-index: 1; /* Asegura que quede detrás del contenido */
    opacity: 1; /* Ajusta la opacidad */
}

.blur-oval-background-L {
    background-color: #02ebcc; /* Color de fondo, puedes cambiarlo */
    filter: blur(85px); /* Controla el nivel de desenfoque */
    height: 100vh; /* Altura más alta (80% de la altura de la pantalla) */
    width: 2%; /* Ancho más pequeño (30% de la pantalla) */
    border-radius: 50%; /* Hace la forma ovalada */
    position: absolute;
    top: 50%; /* Centra verticalmente */
    left: 10%; /* Alinea al lado izquierdo */
    transform: translateY(-50%); /* Centra verticalmente */
    z-index: 1; /* Asegura que quede detrás del contenido */
    opacity: 0.5; /* Ajusta la opacidad */
}
.blur-oval-background-right-L {
    background-color: #02ebcc; /* Color de fondo, puedes cambiarlo */
    filter: blur(85px); /* Controla el nivel de desenfoque */
    height: 100vh; /* Altura más alta (100% de la altura de la pantalla) */
    width: 2%; /* Ancho más pequeño (10% de la pantalla) */
    border-radius: 50%; /* Hace la forma ovalada */
    position: absolute;
    top: 50%; /* Centra verticalmente */
    right: 10%; /* Alinea al lado derecho */
    transform: translateY(-50%); /* Centra verticalmente */
    z-index: 1; /* Asegura que quede detrás del contenido */
    opacity: 0.5; /* Ajusta la opacidad */
}
.blur-oval-background-center-L {
    background-color: #ffffff; /* Color de fondo, puedes cambiarlo */
    filter: blur(50px); /* Controla el nivel de desenfoque */
    height: 5vh; /* Altura (10% de la altura de la pantalla) */
    width: 10%; /* Ancho (10% de la pantalla) */
    border-radius: 50%; /* Hace la forma ovalada */
    position: absolute;
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -220%); /* Centra ambos, horizontal y verticalmente */
    z-index: 1; /* Asegura que quede detrás del contenido */
    opacity: 1; /* Ajusta la opacidad */
}

.card-header{
    background-color: #121212;
    border-color: #252225;
    color: #fff;
}
.card-body-r{
    border-radius: 0px;
    border-color: #000;
    
}
