
*{
    font-family: 'Poppins', sans-serif;
}

/*estilos para el reset de pasword*/
.card-header-reset-password{
    background-color: #121212;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 25px;
    padding-top: 25px;
    border-radius: 50px 50px 0px 0px;
}

.card-body-reset-password{
    background-color: #252525;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 25px;
    padding-top: 25px;
    border-radius: 0px 0px 50px 50px;
}


/*send pasword*/
.btn-S-P{
    background: linear-gradient(to right, #696969, #212020);
    border: 1px solid #696969;
    font-size: 1rem;
    font-weight: bold;
    height: 40px;
    width: 240px;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    color: #A2A2A2;
}


body.claro .card-header-reset-password{
    background-color: #A2A2A2;
    text-align: center;
    color: #000;
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 25px;
    padding-top: 25px;
    border-radius: 50px 50px 0px 0px;
}

body.claro .card-body-reset-password{
    background-color: #fff;
    text-align: center;
    color: #000;
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 25px;
    padding-top: 25px;
    border-radius: 0px 0px 50px 50px;
}


/*send pasword*/
body.claro .btn-S-P{
    background: #031327;
    border: 1px solid #696969;
    font-size: 1rem;
    font-weight: bold;
    height: 40px;
    width: 240px;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    color: #A2A2A2;
}






/*stilos del registro e iniiciar secion inicio*/
/*dark mode*/
/* Estilos para la tarjeta que contiene el formulario */

/*estilo del boton de cambio de modo */
#toggle {
    display: block;
    top: 20px;
    right: 20px;
    padding: 10px;
    background-color: #121212;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

body.oscuro #app {
    background-color: #000000;
}

body.oscuro{
    background: #000000 !important;
    transition: none;
}

body.oscuro .text-center {
    text-align: center;
    color: #ffffff;
    font-size: 25px;
}

/*estilos del botn x*/
body.oscuro .botonX {
background-color: #121212;
width: 50px;
height: 50px;
border-radius: 50%;
}

/* Estilos para el cuerpo de la tarjeta */
body.oscuro .card-body {
    background-color: #121212;
    border-radius: 50px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    padding: 100px; /* Reducido para evitar que se expanda demasiado */
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: #ffff;
    border: 10px;
}

/* Estilos para los labels */
body.oscuro  .col-form-label {
    font-weight: bold;
    color: #fff;
}

/* Estilos para los inputs */
body.oscuro .form-control {
    border-radius: 10px;
    border: 1px solid #696969;
    padding: 10px;
    transition: border-color 0.3s ease-in-out;
    background-color: #252525;
    margin-bottom: 1%; /* Ajustado para más separación */
}

/* Efecto al enfocar un input */
body.oscuro .form-control:focus {
    background-color:#A2A2A2 ;
    border-color: #fff;
    box-shadow: 0 0 6px #A2A2A2;
}

/* Estilos para los mensajes de error */
body.oscuro .invalid-feedback {
    font-size: 0.875rem;
    color: #dc3545;
}

/* Botón de registro */
body.oscuro .btn-primary1 {
    background: linear-gradient(to right, #696969, #212020);
    border: 1px solid #696969;
    font-size: 1rem;
    font-weight: bold;
    height: 40px;
    width: 430px;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    padding-left: 10px;
    color: #ffff;
}



/* Centrar los botones con Flexbox */
body.oscuro .form-group.row.mb-0.justify-content-center {
    display: flex;
    justify-content: center;
}

/* Efecto hover en el botón regeister */
body.oscuro .btn-primary1:hover {
    background: #A2A2A2;
    color: black;
    box-shadow: 0 0 6px #696969;
}

body.oscuro .btn-custom {
    width: 130px;
    height: 40px;
    font-size: 12px;
    padding: 0;
    background-color: #121212;
}

/* Estilos para el logo */
body.oscuro .logito {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

/* Estilos para el logo de Google */

body.oscuro .bi-browser-chrome{
    margin-left: 15px;
}


body.oscuro #terms {
    width: 15px;
    height:15px;
    background-color: #121212;
    border: 2px solid black;
    /* accent-color: #6c757d; */
}


body.oscuro #logo {
    width: 100px;
}

/* Estilos para los botones superiores */
body.oscuro .btn-custom-1 {
    background-color: #000;
    color: white;
    padding: 10px 100px;
    font-size: 16px;
    border-radius: 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

body.oscuro .btn-custom-2 {
    background-color: #A2A2A2;
    color: black;
    padding: 10px 100px;
    font-size: 16px;
    border-radius: 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/* Efecto hover para los botones */
body.oscuro .btn-custom-1:hover{
    box-shadow: 0 0 10px #fff;
}

body.oscuro .btn-custom-2:hover{
    box-shadow: 0 0 10px #fff;
}

/* Estilos para el botón de Google */
/* Estilo para el botón de Google */
body.oscuro .btn-google-login {
    background-color: #121212;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 430px;
    border-color: #000000;
    border-radius: 15px;
    color: #A2A2A2;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave*/
}

/* Efecto hover */
body.oscuro .btn-google-login:hover {
    background-color: #A2A2A2; /* Cambia el fondo */
    color: black; /* Cambia el color del texto */
    cursor: pointer;
    box-shadow: 0 0 10px #000;
}
/* Capa de fondo borroso ovalada */
body.oscuro .blur-oval-background {
    background-color: #02ebcc; /* Color de fondo, puedes cambiarlo */
    filter: blur(85px); /* Controla el nivel de desenfoque */
    height: 100vh; /* Altura */
    width: 1.5%; /* Ancho más pequeño (30% de la pantalla) */
    border-radius: 50%; /* Hace la forma ovalada */
    position: absolute;
    top: 50%; /* Centra verticalmente */
    left: 10%; /* Alinea al lado izquierdo */
    transform: translateY(-30%); /* Centra verticalmente */
    z-index: 1; /* Asegura que quede detrás del contenido */
    opacity: 0.5; /* Ajusta la opacidad */
}
body.oscuro .blur-oval-background-right {
    background-color: #02ebcc; /* Color de fondo, puedes cambiarlo */
    filter: blur(85px); /* Controla el nivel de desenfoque */
    height: 100vh; /* Altura más alta (100% de la altura de la pantalla) */
    width: 1.5%; /* Ancho más pequeño (10% de la pantalla) */
    border-radius: 50%; /* Hace la forma ovalada */
    position: absolute;
    top: 50%; /* Centra verticalmente */
    right: 10%; /* Alinea al lado derecho */
    transform: translateY(-30%); /* Centra verticalmente */
    z-index: 1; /* Asegura que quede detrás del contenido */
    opacity: 0.5; /* Ajusta la opacidad */
}
body.oscuro .blur-oval-background-center {
    background-color: #ffffff; /* Color de fondo, puedes cambiarlo */
    filter: blur(50px); /* Controla el nivel de desenfoque */
    height: 5vh; /* Altura (10% de la altura de la pantalla) */
    width: 1.5%; /* Ancho (10% de la pantalla) */
    border-radius: 50%; /* Hace la forma ovalada */
    position: absolute;
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -250%); /* Centra ambos, horizontal y verticalmente */
    z-index: 1; /* Asegura que quede detrás del contenido */
    opacity: 1; /* Ajusta la opacidad */
}

body.oscuro .blur-oval-background-L {
    background-color: #02ebcc; /* Color de fondo, puedes cambiarlo */
    filter: blur(85px); /* Controla el nivel de desenfoque */
    height: 100vh; /* Altura más alta (80% de la altura de la pantalla) */
    width: 1.5%; /* Ancho más pequeño (30% de la pantalla) */
    border-radius: 50%; /* Hace la forma ovalada */
    position: absolute;
    top: 50%; /* Centra verticalmente */
    left: 10%; /* Alinea al lado izquierdo */
    transform: translateY(-50%); /* Centra verticalmente */
    z-index: 1; /* Asegura que quede detrás del contenido */
    opacity: 0.5; /* Ajusta la opacidad */
}
body.oscuro .blur-oval-background-right-L {
    background-color: #02ebcc; /* Color de fondo, puedes cambiarlo */
    filter: blur(85px); /* Controla el nivel de desenfoque */
    height: 100vh; /* Altura más alta (100% de la altura de la pantalla) */
    width: 1.5%; /* Ancho más pequeño (10% de la pantalla) */
    border-radius: 50%; /* Hace la forma ovalada */
    position: absolute;
    top: 50%; /* Centra verticalmente */
    right: 10%; /* Alinea al lado derecho */
    transform: translateY(-50%); /* Centra verticalmente */
    z-index: 1; /* Asegura que quede detrás del contenido */
    opacity: 0.5; /* Ajusta la opacidad */
}
body.oscuro .blur-oval-background-center-L {
    background-color: #ffffff; /* Color de fondo, puedes cambiarlo */
    filter: blur(50px); /* Controla el nivel de desenfoque */
    height: 5vh; /* Altura (10% de la altura de la pantalla) */
    width: 10%; /* Ancho (10% de la pantalla) */
    border-radius: 50%; /* Hace la forma ovalada */
    position: absolute;
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -220%); /* Centra ambos, horizontal y verticalmente */
    z-index: 1; /* Asegura que quede detrás del contenido */
    opacity: 1; /* Ajusta la opacidad */
}





/*aqui empieza lo del modo blanco*/
/*stilos del registro e iniiciar secion inicio*/

/* Estilos para la tarjeta que contiene el formulario */
/*texto "MyReport"*/


/* Estilos para el cuerpo de la tarjeta */
body.claro .card-body {
    background-color: #FFFFFF;
    border-radius: 50px; /* Bordes redondeados */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 0 6px #A2A2A2;
    padding: 100px; /* Reducido para evitar que se expanda demasiado */
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: #ffff;
    border: 10px;
    width: 700;
    height: 500;
}

/* Estilos para los labels */
body.claro .col-form-label {
    font-weight: bold;
    color: #000000;
}

/* Estilos para los inputs */
body.claro .form-control {
    border-radius: 10px;
    border: 1px solid #696969;
    padding: 10px;
    transition: border-color 0.3s ease-in-out;
    background-color: #e0e0e050;
    margin-bottom: 1%; /* Ajustado para más separación */
}

/* Efecto al enfocar un input */
body.claro .form-control:focus {
    background-color:#E0E0E0 ;
    border-color: #797979;
    box-shadow: 0 0 6px #A2A2A2;
}

/* Estilos para los mensajes de error */
body.claro .invalid-feedback {
    font-size: 0.875rem;
    color: #dc3545;
}

/* Botón de registro */
body.claro .btn-primary1 {
    background: #031C39;
    border: 1px solid #696969;
    font-size: 1rem;
    font-weight: bold;
    height: 40px;
    width: 428px;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    padding-left: 10px;
    color: #fff;
    font-weight: bold;
}

/* Centrar los botones con Flexbox */
body.claro .form-group.row.mb-0.justify-content-center {
    display: flex;
    justify-content: center;
}

/* Efecto hover en el botón */
body.claro .btn-primary1:hover {
    background-color: #031327;
    color: #fff;
    box-shadow: 0 0 10px #129cdb;
    /* box-shadow: #0c1b70; */
}


/* Estilos para el logo */
body.claro .logito {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

/* Estilos para el logo de Google */

body.claro .bi-browser-chrome{
    margin-left: 15px;
    color: #000000;
}

/*terminos*/
body.claro #terms {
    width: 15px;
    height:15px;
    background-color: #121212;
    border: 2px solid black;
    /* accent-color: #6c757d; */
}


body.claro #logo {
    width: 100px;
}

/* Estilos para los botones superiores */
body.claro .btn-custom-1 {
    background-color: #031C39;
    color: white;
    padding: 10px 100px;
    font-size: 16px;
    border-radius: 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

body.claro .btn-custom-2 {
    background-color: #A2A2A2;
    color: black;
    padding: 10px 100px;
    font-size: 16px;
    border-radius: 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/* Efecto hover para los botones */
body.claro .btn-custom-1:hover, .btn-custom-2:hover {
    /* cursor: pointer; */
    box-shadow: 0 0 6px #696969;
}

/* Estilo personalizado para el botón de Google */
body.claro .d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

body.claro .text-center {
    text-align: center;
    color: #031327;
    font-size: 25px;
}



/* Estilo para el botón de Google */
body.claro .btn-google-login {
    background-color: #E0E0E0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 430px;
    border-color: #000000;
    border-radius: 15px;
    color: #000;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave */
}

/* Efecto hover */
body.claro .btn-google-login:hover {
    background-color: #031C39; /* Cambia el fondo */
    color: #ffff; /* Cambia el color del texto */
    cursor: pointer;

}
/* Capa de fondo borroso ovalada */

body.claro #toggle {
    background-color: #fff;
    border-radius: 40px;
}

/*estilos del botn x*/
body.claro .botonX{
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    }


body.claro #app {
    background-color: #E0E0E0 !important;
}
body.claro {
    /* background-color: #E0E0E0 !important; */
    background: #E0E0E0 !important;
    transition: none;
}


/*send pasword blanco*/
body.claro .card-header-reset-password{
    background-color: #797979;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 25px;
    padding-top: 25px;
    border-radius: 50px 50px 0px 0px;
}

body.claro .card-reset-password{
    background-color: #fff;
    padding-bottom: 30px;
    border-radius: 50px 50px 50px 50px;
    /* height: 250px; */
    color: #fff;
}


/*send pasword*/
body.claro .btn-S-P{
    background:#031327;
    border: 1px solid #696969;
    font-size: 1rem;
    font-weight: bold;
    height: 40px;
    width: 430px;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    color: #ffffff;

}







/*estilos del los terminos y condicones.*/
body.claro .card-terminos {
    max-width: 800px;
    margin: auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #FFFFFF;
    border-radius: 0px 0px 50px 50px;
    box-shadow: 0  0 6px #A2A2A2;
}


body.claro .titulos-terminos{
    font-weight: bold;
    font-size: 20px;
}

body.claro .body-terminos{
    background-color: #E0E0E0
}

body.claro .parrafos-terminos{
    padding-left: 50px;
}

body.claro .titulo-terminos {
    font-size: 28px;        
    color: #031327;           
    text-align: center;     
    font-weight: bold;     
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0%;
}
body.claro .header-terminos{
    max-width: 1000px;
    margin: auto;
    background-color: #f5f5f5;
    border-radius: 50px 50px 0px 0px;
    box-shadow: 0  0 6px #A2A2A2;
}


/*estilos del footer */
/* Estilos para el footer */
/*edita tu el footer*/
body.claro .footer-terminos{
    background-color: #031C39; /* Fondo oscuro */
    color: white; /* Texto en blanco */
    text-align: center;
    margin-top: 150px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}




body.claro .titulos-politicas{
    font-weight: bold;
    font-size: 20px;
}

body.claro .header-politica{
    max-width: 1000px;
    margin: auto;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 50px 50px 0px 0px;
    box-shadow: 0  0 6px #A2A2A2;
    margin-bottom:-15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #031327;
}

body.claro .card-politica{
    background-color: #FFFFFF;
    box-shadow: 0  0 6px #A2A2A2;
    border-radius: 0px 0px 50px 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 800px;
    margin: auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

body.claro .body-politica{
    background-color: #E0E0E0
}


body.claro .contenedor-botones {
    display: flex;
    justify-content: flex-start; 
    gap: 1200px;
    padding: 10px; 
}


/*estilo del modo negro*/
body.oscuro .card-terminos {
    max-width: 800px;
    margin: auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #101010;
    border-radius: 0px 0px 50px 50px;
    box-shadow: 0  0 6px #A2A2A2;
    color: #FFFFFF;
}


body.oscuro .titulos-terminos{
    font-weight: bold;
    font-size: 20px;
}

body.oscuro  .body-terminos{
    background-color: #000
}

body.oscuro  .parrafos-terminos{
    padding-left: 50px;
}

body.oscuro  .titulo-terminos {
    font-size: 28px;        
    color: #FFFFFF;           
    text-align: center;     
    font-weight: bold;     
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0%;
}
body.oscuro  .header-terminos{
    max-width: 1000px;
    margin: auto;
    background-color:#212020;
    border-radius: 50px 50px 0px 0px;
    box-shadow: 0  0 6px #A2A2A2;
}


/*estilos del footer */
/* Estilos para el footer */
/*edita tu el footer*/
body.oscuro  .footer-terminos{
    background-color: #101010; /* Fondo oscuro */
    color: white; /* Texto en blanco */
    text-align: center;
    margin-top: 150px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}




body.oscuro  .titulos-politicas{
    font-weight: bold;
    font-size: 20px;
}

body.oscuro  .header-politica{
    max-width: 1000px;
    margin: auto;
    text-align: center;
    background-color: #212020;
    border-radius: 50px 50px 0px 0px;
    box-shadow: 0  0 6px #A2A2A2;
    margin-bottom:-15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;
}

body.oscuro  .card-politica{
    background-color: #101010;
    box-shadow: 0  0 6px #A2A2A2;
    border-radius: 0px 0px 50px 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 800px;
    margin: auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #FFFFFF;
}

body.oscuro  .body-politica{
    background-color: #000
}


body.oscuro  .contenedor-botones {
    display: flex;
    justify-content: flex-start; 
    gap: 1200px;
    padding: 10px; 
}

/*alineacion de los icoonos con el footer*/
.icon-text {
    display: flex;
    align-items: center;
    gap: 8px; /* Espacio entre el icono y el texto */
}

/*estilos de la narvar de resolver matters*/
body.claro .custom-navbar {
    background-color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0px 4px 6px #A2A2A2;
}

body.claro  .custom-navbar .navbar-brand {
    color:#031C39;
    font-weight: bold;
    font-size: 25px;
}

body.claro .nav-link{
    color: #031C39
}

body.claro .navbar-nav .nav-link {
    color: #031C39 !important;
}

/*nar var oscuro*/
body.oscuro .custom-navbar {
    background-color: #000000;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0px 1px 10px #A2A2A2;
}

body.oscuro .custom-navbar .navbar-brand {
    color:#ffffff;
    font-weight: bold;
    font-size: 25px;
}

body.oscuro .nav-link{
    color: #ffffff;
}

body.oscuro .navbar-nav .nav-link {
    color: #fff !important;
}
/*logo en el header*/
#logoRM {
    width: 35px; /* Ajusta el tamaño */
    height: auto; /* Mantiene la proporción */
    margin-left: 10px; /* Espacio entre el texto y la imagen */
    margin-bottom: 10px;
}

body.oscuro .body-resolvedMatters{
    background-color: #101010;
}

body.claro .body-resolvedMatters{
    background-color: #fff;
}


.tituloRM{
    padding-top: 10px;
    display: block;
    text-align: center;
}


.Fondo-resolvedMatters{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 102.5%;
    z-index: 1;
    background-color: #000;
    opacity: 0.85;
}

.contenedor-cards {
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap; 
    gap: 20px; 
}

.Titulo-Resolved-matters{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #fff;
    padding-bottom: 100px;
    padding-top: 100px;
    font-weight: bold;
    font-size: 50px;
}
.subtitulo-Resolved-matters{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    font-size: 20px;
    max-width: 80%;
    padding-top: 100px;

}
.titulos-resolved-matters{
    color: #031C39;
    font-weight: bold;  
    font-size: 35px;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 50px;
    margin-bottom: 30px;
    margin-top: 30px;
}

